

.Wombo{
	height:300px;
	width: 300px;
}

.Lerroy{
	height:300px;
	width: 300px;
	float: left;
}
.MLG{
	height:300px;
	width: 300px;
	float: left;
}
.Surprise{
	height:300px;
	width: 300px;
	float: left;
}
.illuminati{
	height:300px;
	width: 300px;
	float: left;
}